.imagen{
    border-radius: 10px;
}

.boton{
    margin-top: 1rem;
    width: 100%;
}

.contenedor-dispositivo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #2b292954;
    padding: 50px;
}

.formulario label{
    font-weight: bold;
}

.formulario label{
    display: block;
}
.formulario select{
    width: 100%;
    text-align: center;
    border-radius: 5px;
    transition-duration: 500ms;
    cursor: pointer;
}

.formulario select:hover{
    border-color: yellow;
}

.botones{
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
.heading{
    text-align: start;
}

.price{
    color: yellow;
    font-weight: bold;
}
@media (min-width: 768px) {
    .contenedor-dispositivo{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #2b292954;
        padding: 50px;
    }
    
    .info-producto{
        width: 40%;
    }
    
    .descripcion-producto{
        width: 50%;
        align-self: center;
    }

    .imagen{
        border-radius: 10px;
    }

    .botones{
        display: flex;
        justify-content: space-between;
    }

    .heading{
        text-align: start;
        margin-left: 0px;
        margin-top: 0px;
    }
        
}